PORT=3000
MONGODB_READ_URI=mongodb+srv://read_23IT166:<PASSWORD>@vkucluster.lae8ukg.mongodb.net/DB_23IT166?appName=VkuCluster
MONGODB_WRITE_URI=mongodb+srv://write_23IT166:<PASSWORD>@vkucluster.lae8ukg.mongodb.net/DB_23IT166?appName=VkuCluster
SESSION_SECRET=your_super_secret_session_key_here
MSSV=23IT166
HOTEN=Trần Châu Minh
